@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: #282c34;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/***FOOTER***/

footer {
  min-height: 5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #707793;
}

/***NAV***/

nav,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***FONT***/

a:hover {
  color: dodgerblue;
}

.right-side a,
.left-side a {
  font-weight: 500;
  font-size: 16px;
  padding: 0.5rem;
  margin-right: 15px;
  color: #edf0f1;
  text-decoration: none;
}

.btn {
  color: gray;
  font-size: 22px;
}

/***CONTENT***/

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  margin: auto;
  text-align: center;
}

input {
  margin-top: 5rem;
  width: 851px;
  height: 66px;
  border-radius: 30px;
  text-decoration: none;
  font-size: large;
  padding: 1rem;
}

.wrap {
  position: absolute;
}

#mag {
  position: relative;
  right: 1px;
}

.btn {
  width: 258px;
  height: 72px;
  margin-top: 5rem;
}

button + button {
  margin-left: 2rem;
}
